footer {
  background: #100f0f;
}

a,
ul {
  text-decoration: none;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

.footer-line {
  color: #f3f3f3;
  width: 1280.004px;
  height: 1px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #f3f3f3;
  margin: 100px 0 0 0;
}


.footer-inline-blocks {
  display: inline-flex;
}

.logo-section {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0;
  margin: 64px 157px 124px 85px;
  border: #100f0f;
}

.logo-list > li {
  display: inline-flex;
}

.logo-img {
  width: 32px;
  height: 32px;
  fill: var(#f3f3f3);
  margin-right: 16px;
}

.logo-link {
  color: var(--genoa, #f3f3f3);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.footer-nav {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 0;
  margin: 24px 171px 60px 0;
  border: #100f0f;
}

.footer-nav-list > li > a {
  color: #f3f3f3;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  padding-bottom: 20px;
}

.address-section {
  display: inline-flex;
  width: 253px;
  height: 88px;
  flex-shrink: 0;
  text-decoration: none;
  padding: 0;
  margin: 44px 218px 88px 0;
}

.address-div-location {
  margin-bottom: 45px;
}

.address-div-location > a,
.address-div-email > a {
  color: var(--text-color, #f3f3f3);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-flex;
  margin-right: 8px;
}

.social-links-section {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 0;
  margin: 24px 180px 52px 0;
  border: #100f0f;
}

.social-links-list > li > a {
  width: 24px;
  height: 24px;
  display: block;
  padding-bottom: 16px;
}

.footer-text {
  color: #979797;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
}

.footer-text > a {
  color: #f3f3f3;
  font-weight: 500;
  text-decoration-line: underline;
}
